@import "src/styles/base/base";

.support {
  display: flex;
  justify-content: space-between;

  &__button-support {
    @extend %button-styles;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 202px;
    height: 44px;
    font-size: 16px;
    line-height: 19.17px;
    font-weight: 200;
    text-align: center;
    align-content: center;
  }

  &__social-media {
    display: flex;
    gap: 24px;

    &__link {
    display: flex;
    gap: 8px;
    align-items: center;
    @extend %button-styles-text-color;
    font-size: 16px;
    line-height: 19.17px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
  }
  }
}
.nav-information {
  display: flex;
  justify-content: space-around;
  border-bottom: $link-color solid 1px;
  padding-bottom: 24px;

  &__link {
    font-weight: 400;
    @extend %text-md;
    color: $link-color;
    @extend %button-styles-text-color;
  }
}
.label-footer {
  display: flex;
  max-width: 660px;
  align-items: center;

  &__info {
    max-width: 237px;
    margin: 0;
    @extend %text-md;
    font-weight: 300;
    color : $secondary-color;
  }

  &__logo {
    margin: auto;
  }

}