@import "./vars";

body {
  font-family: Rubik, sans-serif;
  background: $default-color;
  color : $white;
  margin: auto;
}

a {
  color: white;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}
.button-mark {
  background: $button-mark;
  border-radius: 8px;
  padding: 5px 8px 5px 8px;
  font-size: 18px;
  line-height: 23px;
}
