$default-color: #09090C;
$gradient-color: linear-gradient(to right, #6A11CB 100%, #2575FC 100%);
$icon-color: linear-gradient(to right, #FFFFFF 10%, #FFFFFF 12.5%, #FFFFFF 10%);
$secondary-color: rgba(255, 255, 255, 0.3);
$white : #fff;
$primary-color: #6A11CB;